{
  "presets": [
    ["@babel/env", { "target": { "node": "current" } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "cwd": "packagejson",
      "extensions": [".js", ".jsx", ".ts", ".tsx"]
    }]
  ]
}
